/* hero */
.hero .top-title {
    text-align: left;
}

figcaption {
    padding: 1rem;
}


@media screen and (min-width: 750px) {
    .feature {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem;
        text-align: center;
    }

    figure {
        padding: 1rem;
        margin: 2rem;
    }

}