* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0a2e00;
    --background-color: #daedc3;
    --accent-color: #ffa400;
    --typography-color: #0a2e00;
    --off-white: #ffffde;
    --gradient-accent: linear-gradient(60deg, rgba(242, 166, 73, 1) 0%, rgba(255, 164, 0, 1) 35%, rgba(242, 174, 114, 1) 100%);
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--background-color);
    font-family: "Inter", sans-serif;
    font-size: small;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--background-color);
    padding: 1rem;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

main {
    flex: 1;
}

footer {
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: auto;
}

/* nav */
nav {
    display: flex;
    justify-content: space-evenly;
    margin: .5rem auto;
    width: 60%;
    background-color: var(--background-color);
    padding: .7rem 1rem;
    border-radius: 1.5rem;
}

nav a {
    text-decoration: none;
    color: var(--typograhy-color);
}

/* hero */
.hero {
    height: auto;
    background-color: var(--background-color);
    text-align: center;
}

.hero h1 {
    font-size: 4rem;
}

.hero p {
    font-size: 1rem;
}


/* h1 h2 */
h1,
h2,
h3,
select {
    font-family: "Bricolage Grotesque", sans-serif;
    color: var(--typography-color);
}

/* separte per row with 50 - 80 padding */
.container {
    padding: 50px 2rem;
    margin: auto;
    text-align: center;
}

/* connect links */
.connect-links {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-items: center;
}

.connect-links a {
    color: var(--typography-color);
    text-decoration: none;

}

.contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* for transparent scrolling */
.header.scrolled {
    background-color: transparent;
    color: var(--background-color);
}

.nav.scrolled {
    /* From https://css.glass */
    background: rgba(6, 70, 4, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
}

/* navigation */
.active {
    color: var(--typography-color);
    font-weight: bold;
    text-decoration: underline;
}

.element {
    background: var(--gradient-accent);
}

/* modal */
.btn {
    outline: none;

}