/* Base Layout - Place Header and Footer at the top and bottom of the page respectively. */
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    color: var(--red);
}

header>h1 {
    padding: 1rem;
}

main {
    flex: 1;
    justify-content: center;
}


/* footer */
footer {
    padding: 2rem;
    text-align: center;
    font-size: small;
}

footer p {
    font-weight: 500;
}