* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Urbanist", system-ui;
    min-height: 100vh;
}

header {
    color: white;
    padding: 2rem;
    background-color: #577C8E;
    display: flex;
    justify-content: space-between;
}

nav {
    padding: 1rem;
}

nav > a {
    color: white;
    text-decoration-line: none;
    padding: 1rem;
}

nav > a:hover {
    color: #000;
    background-color: white;
    text-decoration-line: underline;
    text-decoration-style: double;
}

main {
    flex: 1;
    justify-content: center;
    max-width: 75%;
    margin: 0 auto;
    padding: 2rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px;
    place-items: center;
}

/* figure */
figure {
    background-color: #fff;
}

figure > img { 
    width: 100%; 
    height: auto;
}

figure > figcaption {
    text-align: center;
    font-size: smaller;
}

footer {
    color: #fff;
    background-color: #577C8E;
    padding: 2rem;
    text-align: center;
}

footer p {
    font-weight: 500;
}


/* add ons */
.title-font {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.mb-2rem {
    margin-bottom: 2rem;
}

