:root {
    --red: rgb(240, 92, 92);
}

html,
body {
    font-family: "Afacad Flux", sans-serif;
    font-style: normal;
}

.hero img {
    width: 100%;
    height: auto;
}

section>img {
    max-width: 6em;
}

aside {
    height: .5rem;
    background-color: var(--red);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

td:nth-child(1) {
    font-weight: 700;
    text-align: right;
    padding-right: .5rem;
}

td:nth-child(2) {
    text-align: left;
}

footer {
    border-top: .5rem solid var(--red);
}

/* For mobile screens (max-width: 600px) */
@media (max-width: 600px) {

    .border-t {
        border-top: 2px rgba(241, 228, 228, 0.452) solid;
    }

}

/* For large screens (min-width: 1024px) */
@media (min-width: 1024px) {}