:root {
    --red: rgb(240, 92, 92);
    --light-red: rgb(255, 226, 226);
}

html,
body {
    font-family: "Afacad Flux", sans-serif;
    font-style: normal;
}

header {
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
}

picture {
    background-color: var(--red);
}

section>img {
    max-width: 6em;
}

aside {
    height: 1rem;
    background-color: var(--red);
}

.border-t {
    border-top: .2rem var(--light-red) solid;
}

.container {
    background-color: var(--light-red);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    margin: 0.5rem;
}

td:nth-child(1) {
    font-weight: 700;
    text-align: right;
    padding-right: .5rem;
}

td:nth-child(2) {
    text-align: left;
}

footer {
    border-top: 1rem solid var(--red);
}


@media (min-width:750px) {
    main {
        position: relative;
    }

    h2 {
        font-size: x-large;
    }

    .data {
        position: absolute;
        top: 2rem;
        left: 1rem;
        padding: 1rem;
        font-size: smaller;
    }

    .weather {
        position: absolute;
        bottom: 2rem;
        right: 1.5rem;
        padding: 1rem;
        font-size: smaller;
    }

    /* .container-title {
        background-color: var(--red);
        display: flex;
        align-items: center;
        position: absolute;
        left: -1rem;
        padding: .5rem;
    } */

    .container-title>img {
        display: none;
    }

    .weather h2::after {
        content: '⛅';
        position: absolute;
    }

    header {
        font-size: x-large;
    }
}

@media (min-width:700px) {
    .border-t {
        border: none;
    }
}